body {
  background: rgb(226, 234, 249);
  margin: 0;
  user-select: none;
}

p,
span,
h1,
label,
button {
  color: rgb(92, 92, 112);
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: rgb(250, 253, 255);
  box-shadow: rgba(92, 135, 255, 0.1) 0px 10px 50px;
}

/* title section  */
#title {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  background: #9dc6ff;
}

#title > h1 {
  font-size: 2.5em;
  color: rgb(10, 63, 169);
}

#title > img {
  width: 45vw;
  min-width: 300px;
}

/* form section......................................  */

#quoteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

form {
  width: 80%;
  font-size: 1.25em;
}

select {
  font-size: 0.75em;
  border: 1.5px solid #e4e7fa;
  border-radius: 3px;
  outline: none;
  margin-bottom: 12px;
  transition: border 0.25s;
  min-width: 100%;
  min-height: 50px;
  color: rgb(10, 63, 169);
}

.checkbox {
  margin: 0;
  width: 20px;
}

.checkboxText > span {
  transition: color 0.25s;
}

.checkboxText:hover > span {
  color: rgb(71, 116, 205);
}

.checkboxText:last-of-type {
  margin-bottom: 10px;
}
button {
  font-size: 1em;
  width: 100%;
  padding: 5px 10px 5px 10px;
  background-color: rgb(10, 63, 169);
  color: #f6f7ff;
  border: none;
  border-radius: 3px;
  min-height: 40px;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(4, 54, 155);
  cursor: pointer;
}

small {
  color: rgb(227, 12, 12);
}

/* factor .............................................. */

#factor {
  width: fit-content;
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
}

#factor p {
  font-size: 1.25em;
  text-align: center;
}

#factor #part2 p:last-of-type,
#factor #part2 p:last-of-type span {
  font-size:1.5em;
  color: #1e4f94;
}

#factor #part1 p {
  color: #1e4f94;
}

svg {
  width: 100%;
  max-width: 300px;
}

